<nav>
<style>
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
</style>
 <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;">
  {{ range .Site.Menus.main }}
   <li style="float: left;">
	   <a href="{{ .URL }}" style="display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;">
		   {{ .Name }}
	   </a>
   </li>
  {{ end }}
 </ul>
</nav>

